/*common style*/
body {
    font-family: 'Open Sans', sans-serif, 'inter';
}

.heading-container {


    width: 1520px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    border-radius: 16px;
    background: black;
    background-image: url('../resources/Banner\ Image.png');



}

/*.heading-text{
    align-items: center;
}*/
.heading-text-1 {
    color: #f8efef;

    text-align: center;
    font-family: "Merriweather";
    font-size: 32px;
    font-weight: 400;
    padding: 157px 530px 0px 530px;

}

.heading-text-2 {
    color: #FFF;

    text-align: center;
    font-family: "Merriweather";
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0px 344px 177px 344px;
    margin-top: -15px;
}

.main-top {
    text-align: center;

}

.text-top {
    color: #F00;
    text-align: center;
    font-family: 'arial';
    font-size: 88px;
    font-weight: 700;
    margin-bottom: -60px;
}

.text-medil {
    color: #F00;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -20px;
 
}

.text-dawn {
    color: #070211;
    text-align: center;
    font-family: arial;
    font-size: 48px;
    font-weight: 700;
}

.shap-image {
    width: 1602.9px;
    height: 850px;
    padding: 0px 700px;

}

.backround-pic{
    width: 1520px;
    height: 700px;
margin: auto;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;


}
.main-text-1{
    color: #FFF;
font-family: 'Merriweather';
font-size: 64px;
font-weight: 900;
padding: 126px 552px 298px 126px;
margin-top: -200px;
line-height: 88px; 
letter-spacing: 8.04px;

}
.main-text-2{color: rgba(255, 255, 255, 0.80);
font-family: Inter;
padding: 6px 497px 214px 126px;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin-top: -330px;
 }
